<div id="unique-authors">
    <h5 style="color: white;">{{ mainResults.results.passageList.length }}
        different authors...</h5>
    <span spinner-key="spinner-1" us-spinner="{radius:25, width:4, length: 16, scale: 0.75, speed: 1.5, fps: 30, top: '35%', color: ['#5B96AD', '#155F83', '#15435F']}"></span>
    <div infinite-scroll="addMoreAuthors()" infinite-scroll-distance="1">
        <div class="panel panel-default result" ng-repeat="result in mainResults.results.passageList | limitTo: displayLimit track by $index">
            <h5>{{ ::$index + 1}}.&nbsp;
                <b>{{ ::result.author }}</b>,
                <i>{{ ::result.title }}</i>&nbsp;
                <b>[{{ ::result.date }}]</b>
            </h5>
            <p>
                {{ ::result.leftContext }}
                <span class="highlight">
                    {{ ::result.matchContext }}
                </span>
                {{ ::result.rightContext}}
            </p>
            <h5 ng-if="result.otherTitles">
                <a href="" ng-click="getTitles($event,result.author, result.title)">
                    <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;{{ result.otherTitles | keyLength }}
                    later reference(s) by this author:
                </a>
            </h5>
            <div class="title-list" style="margin: 15px"></div>
        </div>
    </div>
</div>
