<div id="facet-search">
    <div id="facet-selection">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span id="menu-header">Browse by facet</span></span>
            <span class="caret"></span>
		</button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel" ng-if="main.queryType == 'sharedPassages'">
            <li class="dropdown-header">Source</li>
            <li><a href="#" ng-click="getFacet('sourceauthor')">Author</a></li>
            <li><a href="#" ng-click="getFacet('sourcetitle')">Title</a></li>
            <li><a href="#" ng-click="getFacet('sourcemodulename')">Module</a></li>
            <li><a href="#" ng-click="getFacet('sourcedate')">Date (decade)</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Target</li>
            <li><a href="#" ng-click="getFacet('targetauthor')">Author</a></li>
            <li><a href="#" ng-click="getFacet('targettitle')">Title</a></li>
            <li><a href="#" ng-click="getFacet('targetmodulename')">Module</a></li>
            <li><a href="#" ng-click="getFacet('targetdate')">Date (decade)</a></li>
        </ul>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel" ng-if="main.queryType == 'commonplaces' || main.queryType == 'topicView'">
            <li><a href="#" ng-click="getFacet('author')">Author</a></li>
            <li><a href="#" ng-click="getFacet('title')">Title</a></li>
            <li><a href="#" ng-click="getFacet('date')">Date (decade)</a></li>
        </ul>
        <spinner show="{{ facetLoading }}"></spinner>
    </div>
    <div class="panel panel-default facet-results" ng-if="showfacet">
        <button type="button" class="btn btn-primary btn-sm close-facets" ng-click="closeFacets()">X</button>
        <h5 style="text-align: center;">Top 100 results</h5>
        <ul class="list-group">
            <li class="list-group-item row"  style="margin-left:0;margin-right:0" ng-repeat="result in facetData">
                <div class="col-xs-8">
                    <a href="" ng-click="goToResult(main.queryType, result.facet)">
                        {{ result.facet }}
                    </a>
                </div>
                <div class="col-xs-4" style="text-align: right;">
                    {{ result.count }}
                </div>
            </li>
        </ul>
    </div>
</div>
