<div id="facet-search">
    <div class="panel panel-default clearfix" id="facet-selection">
        <button type="button" class="btn btn-primary btn-sm close-facets" ng-click="hideFacets()">X</button>
        <h4 id="facet-header">browse by facet</h4>
        <div class="list-group" ng-if="showFacetSelection">
            <div class="dropdown-header facet-divider">Earlier Use</div>
            <a class="list-group-item" href="#" ng-click="getFacet('sourceauthor')">Author</a>
            <a class="list-group-item" href="#" ng-click="getFacet('sourcetitle')">Title</a>
            <a class="list-group-item" href="#" ng-click="getFacet('sourcemodulename')">Module</a>
            <a class="list-group-item" href="#" ng-click="getFacet('sourcedate')">Date (decade)</a>
            <div class="dropdown-header facet-divider" style="margin-top:10px">Later Use</div>
            <a class="list-group-item" href="#" ng-click="getFacet('targetauthor')">Author</a>
            <a class="list-group-item" href="#" ng-click="getFacet('targettitle')">Title</a>
            <a class="list-group-item" href="#" ng-click="getFacet('targetmodulename')">Module</a>
            <a class="list-group-item" href="#" ng-click="getFacet('targetdate')">Date (decade)</a>
        </div>
        <button type="button" class="btn btn-default pull-right" style="margin-top: -35px;" ng-if="!showFacetSelection" ng-click="displayFacetSelection()">
            <span class="glyphicon glyphicon-menu-down"></span>
        </button>
        <spinner show="{{ facetLoading }}"></spinner>
    </div>
    <div class="panel panel-default facet-results" ng-if="showfacet">
        <button type="button" class="btn btn-primary btn-sm close-facets" ng-click="closeFacets()">X</button>
        <h5 style="text-align: center;">Top 100 results</h5>
        <ul class="list-group">
            <li class="list-group-item row"  style="margin-left:0;margin-right:0" ng-repeat="result in facetData">
                <div class="col-xs-8">
                    <a href="" ng-click="goToResult(main.queryType, result.facet)">
                        {{ result.facet }}
                    </a>
                </div>
                <div class="col-xs-4" style="text-align: right;">
                    {{ result.count }}
                </div>
            </li>
        </ul>
    </div>
</div>
