<div id="source-selection">
    <h4 style="margin-top: 0;">
        <span class="hiding-element">Choose Source of Commonplace</span>
    </h4>
    <ul class="nav nav-tabs nav-justified">
        <li ng-class="{'active': main.dbActive == db}" ng-click="setDb(db)" ng-repeat="(db, value) in main.webConfig.databases" role="presentation">
            <a href="">{{ value.label }}</a>
            <p ng-if="main.dbActive == db && value.description" style="text-align: justify; padding: 10px 10px 0px 10px;">
                {{ value.description }}
            </p>
        </li>
    </ul>
</div>
