<div id="landing-page-container">
    <search-form></search-form>
    <div id="section-container" class="panel panel-default" style="text-align: center;">
        <h4>Explore Commonplaces by Subject</h4>
        <div class="row hiding-element">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <ul class="panel panel-default">
                    <li>First section</li>
                    <li>Second section</li>
                    <li>Third section</li>
                    <li>Fourfth section</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <ul class="panel panel-default">
                    <li>First section</li>
                    <li>Second section</li>
                    <li>Third section</li>
                    <li>Fourfth section</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <ul class="panel panel-default">
                    <li>First section</li>
                    <li>Second section</li>
                    <li>Third section</li>
                    <li>Fourfth section</li>
                </ul>
            </div>
        </div>
    </div>
</div>
