.btn, .panel, .panel-heading, .list-group-item:first-child, .list-group-item:last-child, .popover, .progress, .form-control, .tooltip-inner, .modal-content, .pagination a, .nav-tabs.nav-justified>li>a {
  border-radius: 0 !important;
}
.btn:focus {
  outline: none !important;
}
.btn-default:focus {
  background-color: rgb(255, 255, 255);
}
body {
  color: rgb(61, 61, 61);
  /*background-color: rgb(91, 143, 168);*/
  font-family: 'Roboto', sans-serif;
}

/* Navbar colors */

.navbar-inverse, .panel-default > .panel-heading {
  background: rgb(21, 67, 95) !important;
  border-color: rgb(21, 67, 95) !important;
}
.navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover, .panel-default > .panel-heading {
  color: rgb(255, 255, 255) !important;
}
.navbar {
  /*box-shadow: 0 .2em 8px .01em rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.navbar-brand, .navbar-inverse a {
  color: rgb(236, 237, 238) !important;
}
.navbar-right a:hover {
  color: #fff !important;
}
.highlight {
  color: rgb(174, 89, 80);
}

/* Button colors */

.btn-primary {
  background: rgb(21, 95, 131);
  transition: background-color 200ms;
  border-color: transparent;
}
.btn-primary:hover {
  background: rgba(21, 95, 131, .8);
  border-color: transparent;
}
.btn-primary:focus {
  background-color: rgb(21, 95, 131);
  border-color: transparent;
}
.btn-primary.active, .open>.dropdown-toggle.btn-primary, #collocation_table th {
  background: rgb(21, 67, 95);
  border-color: transparent;
  color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px #555 inset;
}
.btn-primary[disabled] {
  background-color: rgb(91, 150, 173);
  border-color: transparent;
}


/* Links */

a {
  color: rgb(21, 95, 131);
  font-weight: 400;
  transition: all 200ms;
}
a:hover {
  color: rgb(128, 0, 0) !important;
  text-decoration: none;
}
/*#landing-page-container {
  position: absolute;
}*/
#fulltext-search, #metadata-search, #section-container {
  /*box-shadow: 1px 1px 5px #555;*/
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*Search form*/

form {
  margin-top: 15px;
}
form img {
  width: 55px;
  height: 30px;
  left: 15px;
  top: 15px;
  position: absolute;
  transition: all ease-in-out 300ms;
}
form h4, #section-container h4 {
  margin: 0 0 15px 0;
}
.search-field, #show-form {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
#results, #full-text-container {
  transition: all ease-out 300ms;
}
#results.down {
  transform: translateY(170px);
}
.result {
  margin-top: 20px;
  padding: 20px;
}
#results > .btn-group button {
  border-bottom: 0px;
}
#main-passage {
  padding: 15px;
  text-align: center;
  font-size: 1.3em;
}
#unique-authors {
  background-color: rgb(21, 95, 131);
}
#landing-page-container {
  transition: all ease-in-out 300ms;
  z-index: 10;
}
#landing-page-container .panel {
  padding: 15px;
}
#metadata-search .panel {
  padding: 10px 30px;
}
#landing-page-container #section-container ul {
  list-style-type: none;
}
#landing-page-container #section-container li {
  margin-left: -30px;
  padding: 5px;
}

/*Timeline styling*/

#timeline-view {
  background-color: rgb(21, 95, 131);
  color: rgb(255, 255, 255);
}
#unique-authors {
  padding: 15px;
}
#timeline-container {
  position: relative;
  text-align: center;
  padding: 50px 10px 30px 10px;
}
#timeline-container::after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 50%;
  border-left: 2px dotted rgba(236, 236, 236, .5);
}
#timeline-container a {
  color: rgb(255, 255, 255);
}
.timeline-dates {
  padding-bottom: 30px;
  width: 80%;
  margin-left: 10%;
}
.timeline-events {
  position: relative;
  background-color: rgb(21, 95, 131);
  text-align: center;
}
.event-link {
  padding: 10px;
  font-size: 1.1em;
}
.timeline-text-content {
  display: none;
  width: 70%;
  margin-left: 15%;
  overflow: hidden;
  text-align: justify;
  position: relative;
  padding: 10px;
  color: rgb(0, 0, 0);
  opacity: 0;
  box-shadow: 1px 1px 5px rgb(85, 85, 85) inset;
}
#timeline-container a:hover {
  color: rgb(177, 116, 111) !important;
}
#timeline-container a:hover, #timeline-container a:focus {
  text-decoration: none !important
}
.alignment {
  position: relative;
}
.source-alignment {
  padding-right: 30px;
}
.target-alignment {
  padding-left: 30px;
}
.source-alignment, .target-alignment {
  text-align: justify;
}
.result-number {
  background-color: rgb(21, 95, 131);
  color: #fff;
  position: absolute;
  top: -11px;
  left: -1px;
  padding: 5px;
}
.commonplace-notification {
  display: inline-block;
  margin-top: 10px;
}
.commonplace-notification a {
  font-weight: 700;
}
.exclamation-point {
  padding: 4px 6px;
  background-color: rgba(44, 170, 226, 1);
  font-size: 1.3em;
  font-weight: 700;
}

/*Header*/
nav > div > div.navbar-header > a {
  font-variant: small-caps;
  font-size: 2em;
}

#source-selection {
    text-align: center;
}
.popover {
    max-width: 400px;
}
