<div id="topic-results">
    <h4 ng-if="debug">
        <div style="text-align: center;">
            <b>{{ currentTopic }}</b>
        </div>
    </h4>
    <h5>Top words in topic:<br>{{ wordsInTopic }}</h5>
    <facet-search></facet-search>
    <h4 ng-if="!loading">
        Your query returned
        <span class="dots" ng-if="waitingForCount"><span>.</span><span>.</span><span>.</span></span>
        {{ totalCount }} results
    </h4>
    <spinner show="{{ loading }}"></spinner>
    <div infinite-scroll="addMoreResults()" infinite-scroll-distance="1" infinite-scroll-disabled="loadingData" infinite-scroll-immediate-check="false">
        <div class="panel panel-default result alignment" ng-repeat="passage in topicPassages | limitTo: displayLimit track by $index">
            <h5 class="result-number">{{ ::$index + 1}}</h5>
            <h5>
                <b>{{ ::passage.author }}</b>,
                <i>{{ ::passage.title }}</i>&nbsp;
                <b>[{{ ::passage.date }}]</b>
            </h5>
            <p>
                {{ ::passage.leftContext }}
                <span class="highlight">
                    {{ ::passage.matchContext }}
                </span>
                {{ ::passage.rightContext}}
            </p>
            <p ng-if="passage.passageIDCount > 1">
                <a href="/passage/{{ main.dbActive }}/{{passage.passageID}}">
                    View similar passages in timeline
                    <span ng-if="main.webConfig.debug">
                        ({{ passage.passageIDCount }} PhiloLine matching pairs)
                    </span>
                </a>
            </p>
        </div>
        <div style="text-align: center;" ng-show="loadingData">
            <h4>Loading data...</h4>
            <span spinner-key="spinner-2" us-spinner="{radius:25, width:4, length: 16, scale: 0.75, speed: 1.5, fps: 30, top: '35%', color: ['#5B96AD', '#155F83', '#15435F']}"></span>
        </div>
    </div>
</div>
