<div id="timeline-view">
  <div id="timeline-container" infinite-scroll="addMoreItems()" infinite-scroll-distance="1">
    <div class="timeline-dates timeline-animate" ng-repeat="event in timeline | limitTo: displayLimit">
      <div class="btn btn-lg btn-default active">{{ event[0] }}</div> <!--date-->
      <div class="timeline-events" ng-repeat="event in event[1] track by $index">
        <h5 class="event-link" ng-click="getCurrentPassage($event)"><a href="">{{ event.author }}<br><i>{{ formatTitle(event.title) }}</i></a></h5>
        <p class="timeline-text-content">
            <span class="text-content">
                {{ event.leftContext }}
                <span class="highlight">{{ event.matchContext }}</span>
                {{ event.rightContext }}
            </span>
        </p>
      </div>
    </div>
  </div>
</div>
